<div class="row">
  <div class="col-md-12">
    <h1 >Dashboard</h1>
    <h2>User Products</h2>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <tr class="bg-primary">
          <th class="text-center">Title</th>
          <th class="text-center col-md-6">Description</th>
          <th class="text-center">Price</th>
          <th class="text-center"></th>
          <th class="text-center"></th>
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>
        <%= render @products %>
        <%= paginate @products, param_name: 'product_page' %>
      </table>

      <h2>User Reviews</h2>
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <tr class="bg-primary">
            <th class="text-center">Review</th>
            <th class="text-center">Product Name</th>
            <th></th>
            <th></th>
          </tr>
          <%= render partial: 'reviews/user_review', collection: @reviews, as: :review %>
          <%= paginate @reviews, param_name: 'review_page' %>
        </table>
      </div>
    </div>
  </div>
</div>

