<h1>Dashboard</h1>
<h2>Listing User products</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Price</th>
  </tr>
  <%= render @products %>
  <%= paginate @products, param_name: 'product_page' %>
</table>

<h2>Listing User reviews</h2>
<table>
  <tr>
    <th>Review</th>
    <th>Product Name</th>
  </tr>
  <%= render partial: 'reviews/user_review', collection: @reviews, as: :review %>
  <%= paginate @reviews, param_name: 'review_page' %>
</table>
