.nav-color{
  background-color: #337ab7;
}

.cart{
  color: white;
  font-size: 40px;
}

.sign-up{
  max-width: 450px;
  width: 100%;
}

.forgot-password{
  max-width: 310px;
  width: 100%;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.discount-div{
  height: 30px;
  text: bold;
  font-size: 20px;
}

.green-color{
  background-color: LightGreen;
}

.pink-color{
  background-color: LightPink;
}

.user-detail-margin{
  margin-bottom: 20px;
}
