<%= form_tag products_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do %>
  <div class="input-group">
    <%= text_area_tag :search, nil, rows: 1, placeholder: "search products", class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: "btn btn-info" %>
    </span>
  </div>
<% end %>
