<%= form_for([@product, @review], remote: true)  do |f| %>
  <div class="form-group">
    <%= f.text_area :body, required: true, class: "form-control", rows: 4, placeholder: "Give product review" %>
  </div>
  <div>
    <%= f.submit "Add Review", class: "btn btn-primary" %>
  </div>
<% end %>
