<h1>Listing reviews</h1>

<table>
<% @reviews.each do |review| %>
  <tr>
    <td><%= review.body %></td>
    <% if user_authorized(@product.user_id) %>
      <td><%= link_to 'Destroy', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_product_review_path(params[:product_id]) unless user_authorized(@product.user_id) %>
<%= link_to 'Back', product_path(params[:product_id]) %>

